<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <p @click="show(2)">{{msg}}</p>
        <item></item>
    </div>
</body>
    <script>
        // 定义组件
        Vue.component('item', {
            template: "<h1>我是组件</h1>"
        })
        new Vue({
            el: "#app",
            data: {
                msg: "helloworld"
            },
            methods: {
                show(num){
                    alert(num)
                }
            }
        })
    </script>
</html>